$yellow: #ebc634;
@import '~bootstrap/dist/css/bootstrap.min.css';

@media all and (min-width: 960px) {
  body{
      font-size: 18px;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  body{
      font-size: 16px;
  }
}

@media all and (max-width: 599px) and (min-width: 320px) {
  body{
      font-size: 12px;
  }
}

body {
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: #ebc634;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

ul {
  padding-inline-start: 1em;
}
.navBox {
  background: linear-gradient(black 0%, rgba(0,0,0,0) 80%);
  width: 100vw;
  position: fixed;
  margin: 0px;
  padding-top: 8px;
  overflow: hidden;
  z-index: 99999;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.outLinkPicture {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.section {
  height: 101vh;
  width: 100vw;
}

h1.name {
  color: #ebc634;
  font-size: 3.5em;
}

h3.title, .header-box {
  color: #ebc634;
  font-size: 1.3em;
}

.description {
  position: absolute;
  top: 1em;
  margin-top: .75em;
  color: #ebc634;
  font-size: 1.3em;
}

div.heading {
  top: 30%;
  left: 20%;
  position: absolute;
}

.about {
  background-color: #39545f;
  padding-top: 3%;
  padding-bottom: 3%;
}

.projects {
  background-color: #38454b;
  padding-top: 3%;
  padding-bottom: 3%;
} 

.skills {
  vertical-align: middle;
  position: relative;
  top: 2em;
  border: 3px solid #ebc634;
  border-collapse: collapse;
}

.skills > table {
  margin-left: auto;
  margin-right: auto;
}
.skills > table, th, td {
  color: #ebc634;
  padding: 2px;
  border: 3px solid #ebc634;
  border-collapse: collapse;
}

.skills > th, td {
  //white-space: nowrap;
  list-style-position: inside;
  padding: .5em .5em .5em 0px;
}

th.header-box {
  text-align: center;
}

.list-header {
  padding-left: 0;
  font-size: 1.1em;
  font-style: italic;
  list-style: none;
}

.ssection-header {
  color: #ebc634;
  top: 1.8em;
  text-align: center;
  position: absolute;
  // padding-top: 20%;
  font-size: 2.2em;
}

.portrait {
  margin-top: 8%;
  border-radius: 50%;
  border: 4px solid #ebc634;
  width: auto;
  max-width: 10em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card { 
  width: auto;
  max-width: 612px;
  max-height: 350px;
}

.project-description {
  color: #ebc634;
}

.buttons {
  margin: 10px 25px 10px 0px;
}

.dots {
  color: #ebc634;
  text-align: center;
  font-size: 88px;
}

.left-col .right-col {
  position: relative;
}

// .right-col {
//   padding-left: .25em;
// }

.sticky-nav {
  color: #ebc634 !important;
  background: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(235, 198, 52, .8) !important;
}

.navbar-light .navbar-brand {
  color: rgba(235, 198, 52, .95) !important;
}