body {
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.navBox {
  background: linear-gradient(to bottom, black 0%, rgba(0,0,0,0) 80%);
  width: 100vw;
  position: fixed;
  margin: 0px;
  padding-top: 8px;
  overflow: hidden;
}

.navBox a {
  display: inline;
  padding: 0 2px;
  margin: 0 18px;
  color: #ebc634;
  font-size: 20px;
}

.navBox > .scrollLinks
{
  width: 72vw;
  float: left;
}

.navBox > .outLinks
{
  float: right;
  width: 25vw;
  color: #ebc634;
  font-size: 20px;
  overflow: hidden;
}

.outLinkPicture {
  width: 20px;
  height: 20px;
}

.navBox > .active {
  border-bottom: 20px solid #ebc634;
}

.section {
  height: 101vh;
  width: 100vw;
}

.home {
  background-image: url('./images/treesandstars2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1.name {
  color: #ebc634;
  font-size: 60px;
}

h3.title {
  color: #ebc634;
  font-size: 22px;
}

div.heading {
  top: 30%;
  left: 20%;
  position: absolute;
}

.about {
  background-color: #4534A3;
  
}

.projects {
  background-color: #6A2B9E;
}
